mixin card(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .card.blue-grey.darken-1(class=spec.__class)&attributes(attributes)
    .card-content.white-text
      .section.card__main-title
        h2.card-title.t-l Barbarian
        .chip
          i.material-icons
            | flash_on
          | 12HP
      .divider
      .section
        h3.t-m
          | Subclass
        p.flow-text
          | For some barbarians, rage is a means to an end— that end being violence. The Path of the Berserker is a path of untrammeled fury, slick with blood. As you enter the berserker’s rage, you thrill in the chaos of battle, heedless of your own health or well-being.

    .card-content.white-text
      .divider
      .section
        h3.t-m Proficiency
        - var proficiency = ["Light armor", "Medium armor", "Shields", "Simple weapons", "Martial weapons"];

        ul.collection
          - each item in proficiency
            li.collection-item.teal.darken-3=item

        h4.t-s
          | Choose 2 additional proficiencies
        - var proficiencyChoices = ["Skill: Animal Handling", "Skill: Athletics", "Skill: Intimidation", "Skill: Nature", "Skill: Perception", "Skill: Survival"]
        - each item in proficiencyChoices
          .chip=item

    .card-content.white-text
      .divider
      .section
        h3.t-m Starting Items
        - var startingItem = ["Explorer's Pack", "Javelin"]
        - each item in startingItem
          .chip=item

        .row
          .input-field.col.s12
            input#starting-item-input-1.autocomplete(type='text')
            label(for='starting-item-input-1') Choice 1

          .input-field.col.s12
            input#starting-item-input-2.autocomplete(type='text')
            label(for='starting-item-input-2') Choice 2

    .card-content.white-text
      .divider
      .section
        h3.t-m Saving throws
        - var savingThrows = ["STR", "CON"]
        - each item in savingThrows
          .chip=item


    .card-action
      a.waves-effect.waves-light.btn-large
        i.material-icons.right keyboard_arrow_right
        | Procees with your class

