mixin card(spec)
  - spec = spec || {}
  - spec.data = spec.data || {}
  - spec.__class = spec.__class || ''

  .card.blue-grey.darken-1(class=spec.__class)&attributes(attributes)
    .card-content.white-text
      .section.card__main-title
        h2.card-title.t-l=spec.data.class
        .chip
          i.material-icons
            | flash_on
          | #{spec.data.hp}HP
      .divider
      .section
        h3.t-m
          | Subclass
        p.flow-text.subclass(data-api-endpoint='')=spec.data.subclass

    .card-content.white-text
      .divider
      .section
        h3.t-m Proficiency

        ul.collection
          - each item in spec.data.proficiency
            li.collection-item.teal.darken-3=item

        h4.t-s
          | Choose 2 additional proficiencies
        - each item in spec.data.proficiencyChoices
          .chip=item

    .card-content.white-text
      .divider
      .section
        h3.t-m Starting Items
        - each item in spec.data.startingItem
          .chip=item

        .row
          .input-field.col.s12
            input#starting-item-input-1.autocomplete(type='text')
            label(for='starting-item-input-1') Choice 1

          .input-field.col.s12
            input#starting-item-input-2.autocomplete(type='text')
            label(for='starting-item-input-2') Choice 2

    .card-content.white-text
      .divider
      .section
        h3.t-m Saving throws
        - each item in spec.data.savingThrows
          .chip=item


    .card-action
      a.waves-effect.waves-light.btn-large
        i.material-icons.right keyboard_arrow_right
        | Procees with your class

